.modal-header .btn-close[b-8hwxde84sk] {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem auto -0.5rem -0.5rem !important;
}
.modal-header .btn-close[b-8hwxde84sk] {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem auto -0.5rem -0.5rem !important;
}
.modal-def[b-8hwxde84sk]{
    z-index:1060;
}